<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <h1>main</h1>
        <hr>
        <ul>
            {% for tarifa in tarifas %}
                <li>Tarifa: {{tarifa.valor_tarifa}} fecha: {{tarifa.fecha}}</li>
            {% endfor %}
        </ul>
    </main>
    <footer></footer>
</body>
</html>